* { margin: 0; padding: 0; box-sizing: border-box; }

html, body { height: 100%; }

ul { list-style: none; }

a { text-decoration: none; }

.floatright { float: right; }

.container { width: 100%; height: 100%; display: flex; flex-direction: column; }
.container header, .container footer { font-size: 0.8rem; height: 2.25rem; text-align: center; background: linear-gradient(to bottom left, #ff8909, #ff5b02); color: white; }
.container header { line-height: 2.25rem; }
.container header span { height: 2.25rem; font-size: 0.8rem; display: inline-block; float: left; margin-left: 0.5rem; }
.container header h1 { font-size: 0.8rem; font-weight: normal; }
.container .section { overflow: hidden; height: 100%; width: 100%; }
.container .section .sectionbar { transition: all 0.5s; width: 200%; height: 100%; }
.container .section .sectionbar nav { transform: translateX(-100%); width: 10rem; height: 100%; float: left; overflow: auto; background: rgba(0, 0, 0, 0.7); }
.container .section .sectionbar nav ul li { height: 2.5rem; font-size: 0.6rem; line-height: 2.5rem; cursor: pointer; border-top: 0.1px solid rgba(204, 204, 204, 0.1); position: relative; }
.container .section .sectionbar nav ul li.active { background: rgba(0, 0, 0, 0.57); }
.container .section .sectionbar nav ul li.active div { height: 100%; width: 0.25rem; background: #FF631A; position: absolute; top: -0.02rem; left: 0; }
.container .section .sectionbar nav ul li a { color: #fff; display: block; margin: 0 10px 0 2rem; }
.container .section .sectionbar nav ul li a i { font-size: 0.6rem; }
.container .section .sectionbar section { transform: translate3d(-63%, 0, 0); flex: 1; width: 50%; height: 100%; float: left; overflow: auto; }
.container .section .sectionbar section h3 { width: 100%; height: 1.4rem; font-size: 0.6rem; padding-left: 0.5rem; color: #0b4646; line-height: 1.4rem; color: #666666; font-weight: normal; }
.container .section .sectionbar section h3 span.iconfont { font-size: 0.9rem; margin-right: 0.2rem; color: #ff631a; }
.container .section .sectionbar section .swiper-container { width: 100%; }
.container .section .sectionbar section .swiper-container img { width: 100%; }
.container .section .sectionbar section .message_top { width: 100%; height: 2rem; line-height: 2rem; position: relative; border-bottom: 0.01rem solid #CCCCCC; }
.container .section .sectionbar section .message_top p { width: 0.2rem; height: 1rem; position: absolute; top: 0.5rem; left: 0; background: #FF631A; }
.container .section .sectionbar section .message_top span { color: #FF631A; font-size: 0.8rem; font-weight: 500; position: absolute; top: 0; }
.container .section .sectionbar section .message_top span:nth-child(2) { left: 0.7rem; }
.container .section .sectionbar section .message_top span:nth-child(3) { right: 0.7rem; }
.container .section .sectionbar section .containers { height: 11rem; }
.container .section .sectionbar section .containers .swiper-slide { display: flex; }
.container .section .sectionbar section .containers .swiper-slide div { margin: 5px; border: 1px solid #ccc; border-radius: 5px; height: 9rem; }
.container .section .sectionbar section .containers .swiper-slide div span:nth-child(2) { display: inline-block; width: 7rem; padding-left: 5px; font-size: 0.5rem; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.container .section .sectionbar .footer { height: 5rem; box-sizing: border-box; font-size: 0.6rem; text-align: center; margin-top: 10px; }
.container .section .sectionbar .footer .fan { height: 1.4rem; line-height: 1.4rem; background: red; text-align: right; color: white; font-size: 0.7rem; position: relative; width: 100%; background: -webkit-linear-gradient(bottom left, #ff8909, #ff5b02); margin-bottom: 0.37rem; }
.container .section .sectionbar .footer .fan .top { height: 1.4rem; line-height: 1.4rem; width: 2rem; position: absolute; right: 0.2rem; }
.container .section .sectionbar .footer .fan span { display: inline-block; width: 0; height: 0; border: 0.2rem transparent solid; border-bottom-color: #fff; margin: 0 0.1rem; }
.container .section .sectionbar .footer p { padding: 0.1rem; }
.container .section .sectionbar .footer p a { text-decoration: none; color: #000000; -webkit-tap-highlight-color: transparent; }
.container footer ul { height: 100%; display: flex; border-top: solid 0.5px #ced6cf; }
.container footer ul li { flex: 1; display: flex; flex-direction: column; align-items: center; justify-content: center; color: #fff; }
.container footer ul li a { flex: 1; display: flex; flex-direction: column; color: white; text-decoration: none; }
.container footer ul li a b { font-size: 0.5rem; line-height: 0.5rem; font-weight: normal; }
.container footer ul li a i { line-height: 1.4rem; }

.item { width: 100%; line-height: 1rem; color: #333333; font-size: 0.7rem; }
.item p { padding-left: 1.1rem; padding-right: 1.6rem; position: relative; padding-top: 0.6rem; padding-bottom: 0.4rem; }
.item p .y { position: absolute; width: 0.2rem; height: 0.2rem; top: 1.05rem; left: 0.5rem; background: #ababab; border-radius: 100%; }
.item p span { display: inline-block; position: absolute; top: 50%; margin-top: -0.3rem; right: 0.05rem; width: 1rem; height: 1rem; font-size: 1rem; line-height: 1rem; color: #666666; font-size: 0.8rem; }
.item .time { color: #ababab; font-size: 0.6rem; padding-top: 0; }

.telCon { width: 100%; height: 100%; display: none; position: fixed; top: 0; left: 0; }
.telCon .bg { width: 100%; height: 100%; background: rgba(0, 0, 0, 0.2); }
.telCon .telConarea { width: 100%; height: 9rem; position: fixed; bottom: 0; left: 0; z-index: 100; background: #fff; text-align: center; padding-left: 2rem; padding-right: 1rem; transition: all 1s; }
.telCon .telConarea .cancel { height: 3rem; line-height: 3rem; border-bottom: 1px solid #ccc; }
.telCon .telConarea .cancel span { display: inline-block; }
.telCon .telConarea .cancel span:nth-child(1) { width: 4rem; }
.telCon .telConarea .cancel span:nth-child(2) { width: 6rem; }
.telCon .telConarea .cancel span:nth-child(3) { width: 2rem; height: 2rem; line-height: 2rem; cursor: pointer; border-radius: 5px; vertical-align: middle; background: linear-gradient(to bottom, #ffbf09, #ff631a); }
.telCon .telConarea .cancel span:nth-child(3) .iconfont { color: white; line-height: 2rem; }

/*# sourceMappingURL=index.css.map */
